.cartButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #40a9ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
        background-color: #40a9ff;
    }

    &:active {
        background-color: #40a9ff;
    }

    &:focus {
        background-color: #40ff90;
    }
}

.cartButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #fff;


}