.containerNavMenu {
    width: 100%;
    height: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNavUser {
    width: 100%;
    height: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerNav {
    width: 100%;
    height: 120px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}